.tweetContent img {
    max-width: 100%;
    border-radius: 10px;
    
  }
  .tweet{
    padding: 10px 0px;
    
  border-bottom: 1px solid #ddd;

    
  }
  
  .child{
    display: flex;
    gap: 5px;
  }

  .hi{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 19px;
    font-weight: 700;

  }